
section#about {
    height: 120%;
    width: auto;
    background-color: azure;
    margin: 0;
}

section div#aboutContainer {
    height: 130%;
    width: auto;
    background-color: azure;
    margin: 0;
}

div#aboutContainer .titleContainer {
    font-size: 100px;
    font-family: blocpartyregular;
    padding-top: 125px;
    padding-left: 2rem;
}

div#aboutContainer .separationBar {
    background-color: black;
    height: 5px;
    width: 98%;
    margin: 0 auto;
}

.name{
}

section div#aboutContainer div.textContainer{
}