#entries_section div{
    width: 200px;
    height: 200px;
    overflow: hidden;
    background-color: coral;
    border-radius: 5px;
}

#entries_section p{
    word-wrap: break-word;
}

#entries_section h3{
    padding: 8px;
    word-wrap: break-word;
}