@font-face{
    font-family: amagro;
    src: url(/resources/fonts/webfontkit-20201212-154923/amagro-bold-webfont.woff);
}

@font-face {
    font-family: 'blocpartyregular';
    src: url('/resources/fonts/blocParty/blocpartyregular-0wgep-webfont.woff2') format('woff2'),
         url('/resources/fonts/blocParty/blocpartyregular-0wgep-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'dosis';
    src: url('/resources/fonts/dosis/Dosis-VariableFont_wght.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'varelaRound';
    src: url('/resources/fonts/varelaRound/VarelaRound-Regular.woff2') format('woff2'),
         url('/resources/fonts/varelaRound/VarelaRound-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'zillaSlab';
    src: url('/resources/fonts/zillaSlab/ZillaSlab-Regular.woff2') format('woff2'),
         url('/resources/fonts/zillaSlab/ZillaSlab-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'zillaSlab';
}

html{
    background-color: rgb(31, 30, 30);
}

#willpineLogo {
    width: 100%;
    height: auto;
}

.titleContainer {
    margin-left: auto;
    margin-right: auto;
    font-size: 2rem;
    padding-top: 100px;
    padding-left: 2rem;
    color: white;
}

.separationBar {
    background-color: rgb(255, 255, 255);
    /* height: 5px;
    width: 8rem; */
    margin-left: 2rem;
}

.textContainer {
    margin: 0 auto;
    padding: 1.6rem;
    color:white;
    background-color: rgb(37, 36, 39);
    width: 23.0em;
    border-radius: 3%;   
    font-size: 1.2em;
    letter-spacing: 2;
}

footer{
    background-color: rgb(136, 129, 130);
    color: aliceblue;
    width: 100%;
    height: auto;
    padding: 20px;
}

footer *{
    text-align: center;
}