section#skills {
    height: 120%;
}

section div#skillsContainer {
    height: 130%;
    width: auto;
}

section#skills .titleContainer {
    font-size: 100px;
    font-family: blocpartyregular;
    padding-top: 100px;
    padding-left: 2rem;
    color: aliceblue;
}

section#skills .separationBar {
    background-color: aliceblue;
    height: 5px;
    width: 98%;
    margin: 0 auto;
}

div#skillsContainer {
    /* centralize vertically */
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

div#skillsContainer .textContainer p {
  color: white;
}

/* Container for skill bars */
.skillContainer {
  width: 100%; /* Full width */
  background-color: #ddd; /* Grey background */
}

div#skillsContainer .titleContainer {
  font-size: 100px;
  font-family: blocpartyregular;
  padding-top: 100px;
  padding-left: 2rem;
  color: white;
}

div#skillsContainer .separationBar {
  background-color: black;
  height: 5px;
  width: 98%;
  margin: 0 auto;
}

.skill {
  text-align: right; /* Right-align text */
  padding-top: 1px; /* Add top padding */
  padding-bottom: 1px; /* Add bottom padding */
  color: white; /* White text color */
  text-align: center;
  font-size: small;
}

.java {width: 75%; background-color: #000000;}
.javascript {width: 70%; background-color: #000000;}
.csharp {width: 30%; background-color: #000000;}
.sql {width: 30%; background-color: #000000;}