/*As imagens estão a 4px de distância uma da outra*/

html{
    scroll-behavior: smooth
}

.TítuloG{
    padding: 1px;
    background-color: rgb(73, 52, 97);
}

.TítuloG h1{
    text-align: center;
    font-size: 40px;
    color: white;
}

.images{
    
    height: 822px;
    overflow: hidden;
    background-color: blueviolet;
}

.inDiv img{
    width:200px;
    height:200px;
    background-size: 100%;
    transition: 0.3s;
}

.inDiv img:hover{
  -webkit-transform: scale3D(1.4,1.4,1.4);
  -moz-transform: scale3D(1.4,1.4,1.4);
  transform: scale3D(1.4,1.4,1.4);
}

.images .inDiv{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 829px;
    height: 822px;
    overflow: auto;
    overflow-x: hidden;
    background-color: white;
}

