/*As imagens estão a 4px de distância uma da outra*/

html {
    scroll-behavior: smooth
}

/*.TítuloG*/

.TítuloG h1 {
    display: block;
    text-align: center;
    font-size: 40px;
    /*color: white;*/
}

.images {
    height: 100vh;
    max-height: 100vh;
    overflow: hidden;
    width: auto;background-image: url("drawings/Happy\ new\ year.png");
    
}

.inDiv img {
    width: auto;
    position: relative;
    height: auto;
    max-width: 200px;
    max-height: 200px;
    background-size: 100%;
    transition: 0.6s;
}

.inDiv img:hover {
    opacity: 60%;
    /*-webkit-transform: scale(1.4, 1.4);
    -moz-transform: scale(1.4, 1.4);
    transform: scale(1.4, 1.4);*/
}

.images .inDiv {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    height: auto;
    max-width: 600px;
    max-height: 90vh;
    overflow-x:hidden;
}

.inDiv {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
  }

  .grid-image {
  background-color: rgba(255, 255, 255, 0.8);
  overflow: hidden;
}