
.layoutContainer img{
  margin: 0 auto;
  width: 10rem;
}

.layoutContainer {
    width: 100%;
    max-width: 32rem;
    margin: 0 auto;
    background-color: transparent;
    align-items: center;
    /* margin-bottom: 2rem; */
    text-align: center;
    padding-top: 2rem;
}


.titleContainer {
  /* background-color: darkblue; */
    margin-bottom: 0.2rem;
    text-align: left;
    margin-left: 1rem;
    font-family: 'Zilla Slab', serif;
    font-size: 3rem;
    font-weight: 800;
    letter-spacing: 1;
    color: black;
}

.separationBar {
    background-color: rgb(255, 255, 255);
    margin-left: 2rem;
}

.subTitle{
  /* color: red; */
  font-family: 'Zilla Slab', serif;
  font-weight: 700;
  font-size: 1.6em;
}

.textContainer{
  background-color: rgb(0, 0, 0);
  padding: 1.6rem;
  letter-spacing: 0.6;
  width: 100%;
  display: inline-block;
  
  /* border: #ffffff0; */
  /* border-style: groove; */
  /* border-width: 1px; */
  /* border-radius: 12px;    */

  font-size: 1em;
  font-family: 'varelaRound';
  text-align: start;
  letter-spacing: 0.4;
  font-weight: 100;
  /* word-spacing: -4; */
}

footer{
    background-color: black;
    color: aliceblue;
    width: 100%;
    height: auto;
    padding: 20px;
    margin-top: 6rem;
}

footer *{
    text-align: center;
    font-family: varelaRound;
    text-decoration: none;
}

footer a:visited{
  color: aliceblue;
}
